/*Layout Panes*/
#sp, #fp{
    -fx-background-color: LightGray;
    -fx-text-fill: #000;
    -fx-font-family: "cursive";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#sp, #fp, #ap{
    -fx-border-styles: solid 2px #000;
     -fx-background-color:rgba(0,0,0,0);
}

#btnRecent:hover{
   -jfx-button-type: RAISED;
   -fx-border-radius: 50%;
   -fx-font-size:25px;
   -fx-cursor: HAND;
}